/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Banner CSS */

.carousel-item {
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.7;
}
.carousel-caption {
    bottom: 0px;
    top: 30%;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-heading {
    font-size: 47px;
    font-weight: 600;
}
.edutech-btn {
    font-size: 15px;
    font-weight: 500;
    background-color: #289BDE;
    padding: 10px 25px;
}
/* Popular Courses */

.courses-heading {
    font-size: 50px;
    font-weight: 600;
}
.course-title {
    font-size: 18px;
    font-weight: 600;
    color: #4A4A4A;
}
.course-pricing {
    font-size: 15px;
    color: #289BDE;
    font-weight: 600;
}
.register-now{
    background-color: #289BDE;
    padding: 60px 55px;
}
.heading {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}
.description {
    font-size: 16px;
    color: #F4F4F4;
}
.edutech-reg-btn{
    font-size: 15px;
    font-weight: 600;
    color: #289BDE;
    padding: 15px 50px;
}
.edutech-reg-btn:hover{
    color: #289BDE;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        top: 4%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .carousel-caption {
        top: 15%;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 576px) {
    .courses-heading {
        font-size: 30px;
    }
    .card img{
        width: 100% !important;
    }
    .card_image img{
        width: 100% !important;
    }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
    .card_image img{
        width: 100% !important;
    }
}


